@import 'fonts';
@import 'variables';
@import 'libs/normalize';
@import 'components/all';

body {
  background-color: $background;
  padding: 50px 0;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #242425;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
  box-shadow: -8px -9px 4px 1px rgba(17, 17, 17, 0.25);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.content {
  padding-top: 20px;

  &__title {
    padding-bottom: 30px;
  }

  &__items {
    display: flex;
    justify-content: space-between;

  }
}
